.jobForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 700px;
}

.jobForm > fieldset {
  border: none;
}

.jobListing__header > h2 {
  font-family: 'Comfortaa', sans-serif;
  margin: 0px;
}

.job__backButton {
  height: 40px;
}

.editJobListing {
  overflow-y: scroll;
  height: 744px;
}

.editJobListing::-webkit-scrollbar {
  width: 0px;
}

.editJobListing::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.editJobListing::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190); 
}

.editJobListing::-webkit-scrollbar-thumb:hover {
  background:rgb(138, 137, 137); 
}

.editJobDetails {
  padding: 5px 20px 0px;
}

.saveNewJob {
  margin: 0 10px;
  position: relative;
  top: -15px;
  left: 60px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.saveEditChanges {
  margin: 0 30px;
  position: relative;
  bottom: 70px;
  display: flex;
  justify-content: center;
}

.saveEditChanges > button{
  width: 95%;
}

.salaryFields {
  display: flex;
  justify-content: space-between;
}

.salaryEdit {
  width: 60%;
}

.rateEdit {
  width: 35%;
}

.jobTypeButtons {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.jobTypeBtn {
  border-radius: 30px;
  border: solid 1px black;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); */
  line-height: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 5px;
  margin: 10px 0px;
  background: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.jobTypeBtn {
  margin: 10px 0;
  border: 2px solid black;
  padding: 6px 10px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
	color: black;
  background-color: white;
	transition: all 0.25s ease-in-out;
}

.jobTypeBtn:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.jobTypeBtn:hover {
  background-color: black;
  border-color: black;
  color: white;
}

/* .jobTypeBtn:active {
  background-color: black;
  border-color: black;
  color: white;
  box-shadow: none;
  outline: none;
}

.jobTypeBtn:focus, :active:focus {
  background-color: black;
  border-color: black;
  color: white;
  outline: 5px auto black;
  outline: none;
}

.jobTypeBtn:visited {
  background-color: black;
  border-color: black;
  outline: none;
} */

.rateBtn {
  border-radius: 30px;
  border: solid 1px black;
  line-height: 0;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  font-size: 13px;
  font-weight: 600;
  background: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.rateToggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 27px;
}

.rateBtn {
  width: 60px;
  margin: 0;
  padding: 6px 10px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
	color: black;
  background-color: white;
	transition: all 0.25s ease-in-out;
}

.rateBtn:hover {
  background-color: black;
  border-color: black;
  color: white;
}

.selected {
  background-color: black;
  border-color: black;
  color: white;
  outline: 5px auto black;
  outline: none;
}

#salRate {
  border-radius: 30px 0 0 30px;
}

#hrRate {
  border-radius: 0 30px 30px 0;
}

