.jobForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 700px;
}

.jobForm > fieldset {
  border: none;
}

.jobListing__header > h2 {
  font-family: 'Comfortaa', sans-serif;
  margin: 0px;
}

.job__backButton {
  height: 40px;
}

.editJobListing {
  overflow-y: scroll;
  height: 744px;
}

.editJobListing::-webkit-scrollbar {
  width: 0px;
}

.editJobListing::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.editJobListing::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190); 
}

.editJobListing::-webkit-scrollbar-thumb:hover {
  background:rgb(138, 137, 137); 
}

.editJobDetails {
  padding: 5px 20px 0px;
}

.saveNewJob {
  margin: 0 10px;
  position: relative;
  top: -15px;
  left: 60px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.saveEditChanges {
  margin: 0 30px;
  position: relative;
  bottom: 70px;
  display: flex;
  justify-content: center;
}

.saveEditChanges > button{
  width: 95%;
}

.salaryFields {
  display: flex;
  justify-content: space-between;
}

.salaryEdit {
  width: 60%;
}

.rateEdit {
  width: 35%;
}

#type {
  width: 99%;
}

