.userResumeContainer {
  height: 742px;
  overflow-y: scroll;
}

.userResumeContainer::-webkit-scrollbar {
  width: 5px;
}

.userResumeContainer::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.userResumeContainer::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190); 
}

.userResumeContainer::-webkit-scrollbar-thumb:hover {
  background:rgb(138, 137, 137); 
}

.resumeContainer {
  margin: 0 15px;
}

.sectionTitle {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 40px 0 10px;
}

.addSkills,
.addWorkHistory,
.addSchools {
  width: auto;
  text-align: center;
  justify-content: center;
  border: 3px dashed #c5c3c3;
  background: #dfdfdf;
  border-radius: 5px;
  padding: 10px;
}

.editSkills {
  width: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
}